<section class="scrollable wrapper">
<div class="row">

 <div class="col-sm-9">
                  <div class="blog-post">                   
                    <div class="post-item">
                      <div class="caption wrapper-lg">
                        <h2 class="post-title"><a href="#">Searched for: <%= @q %></a></h2>
                        <div class="post-sum">




<% @playlists.each do |p| %>
  <h3><%= link_to p.title, p %></h3>
<% end %>
</div>

</div></div></div>

</div></section>